
.bgStyle{
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  background-image: url(../../asset/img/card-6.svg);

  .shape-bottom{
    position: absolute;
    z-index: 1 !important;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.login{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
}