.loding{
  height: 100%;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .LoadingOutlined{
    font-size: 70px;
    color: rgb(103, 119, 136);
  }

  p{
    padding-top: 30px;
    color: rgb(103, 119, 136);
  }
}

.basicLayout{
  display: flex;
  height: 100%;
  min-width:1024px;
  background: none;
    
  aside{
    width: 16.25rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: none;

    .SiderTrigger{
      display: inline-flex;
      width: 2.40625rem;
      height: 2.40625rem;
      position: absolute;
      top: calc(1.9375rem - 1.20312rem);
      right: -1.20312rem;
      z-index: 1000;
      font-size: 0.875rem;
      color: #677788;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: .0625rem solid rgba(231, 234, 243, .7);
      background-color: #fff;
    }

    ul{
      height: 100%;
      padding: 1.5rem 1.25rem;

      li{
        &.ant-menu-item-selected{
          color: #132144;
          background-color: rgba(189,197,209,.2);
        }
      }
    }
  }

  .contentLayout{
    background: none;

    header{
      display: flex;
      height: 3.875rem;
      margin-left: 16.25rem;
      padding-right: 2rem;
      padding-left: 2rem;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;
      justify-content: space-between;
      align-items: center;
      border-style: solid;
      border-color: rgba(231, 234, 243, .7);
      border-width: 0 0 .0625rem 0;
      background-color: rgb(249 250 252);

      h1{
        color: rgb(103 119 136);
        font-size: 1.41094rem;
        font-weight: 500;
      }

      .btnLogout{
        display: inline-flex;
        height: auto;
        font-weight: 400;
        line-height: 1.5;
        color: #677788;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: .6125rem 1rem;
        font-size: .875rem;
        border: none;
        box-shadow: none;
        background: none;
        align-items: center;

        &:hover{
          background: none;
        }
      }
    }

    .contents{
      padding-left: 16.25rem;
      padding-top: 3.875rem;
    }
  }
}